---
import Canvas from "@components/Canvas.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "@layouts/Layout.astro";
import FontsLinks from "@components/FontsLinks.astro";
import FormContact from "@components/FormContact.astro";
---

<Layout title="Contact">
  <FontsLinks />
  <Canvas />
  <main
    class="flex flex-col bg-gray-800 bg-opacity-50 playfair-display h-screen"
    role="main"
  >
    <Navbar />
    <div class="container mx-auto px-24">
      <FormContact />
    </div>
  </main>
</Layout>

<style>
  .playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
</style>

<script>
  let responseMessage: string;

  async function submit(e: SubmitEvent) {
    e.preventDefault();
    const formData = new FormData(e.currentTarget as HTMLFormElement);
    const response = await fetch("/api/feedback", {
      method: "POST",
      body: formData,
    });
    const data = await response.json();
    responseMessage = data.message;
  }
</script>
