---
import ExperienceCards from "@components/ExperienceCards.astro";
import LayoutTwo from "@layouts/LayoutTwo.astro";
---

<LayoutTwo 
  title="Experience" 
  description="Explore my professional journey as a Backend Developer, working with various technologies and architectures over 8 years."
>
    <div class="container mx-auto">
      <ExperienceCards />
    </div>
</LayoutTwo>

<style>
  .playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
	}
</style>
